@page "/"
@inject AuthService Auth

<h3>Login</h3>

<button @onclick='() => Login("user")'>Login as User</button>
<button @onclick='() => Login("agent")'>Login as Agent</button>

@if (Auth.Token != null)
{
    <p>Logged in as: <b>@Auth.Role</b></p>
}

@code {
    async Task Login(string user)
    {
        await Auth.Login(user);
    }
}
